---
layout: default
title: 首页
---
{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="well">
                <h3><a href="/douban-fm">Douban FM for Ubuntu Touch</a></h3>
                <!-- <small>{{ post.date | date: "%Y年%m月%d日" }} by {{ post.author }}</small> -->
                <hr>
                <p>Ubuntu Touch 系统上的豆瓣FM客户端。支持在线播放、离线歌曲、微博分享等功能。</p>
                <div class="text-right">
                  <a class="btn btn-flat btn-info" href="/douban-fm">查看</a>
                </div>
            </div>
            <!-- <div>
                {% if paginator.previous_page %}
                <a class="btn btn-default navbar-left" href="{{ paginator.previous_page_path }}">&lt; 上一页</a>
                {% endif %}
                {% if paginator.next_page %}
                <a class="btn btn-default navbar-right" href="{{ paginator.next_page_path }}">下一页 &gt;</a>
                {% endif %}
            </div> -->
        </div>
        <div class="col-sm-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>

