
<div class="well">
    <h4><i class="mdi-social-notifications-on"></i>  <b>公告</b></h4>
    <p>好吧，时隔这么久，终于把小站迁移重新设计更新了!</p>
    <p>还有部分内容施工中...</p>
</div>
<div class="well">
    <h4><i class="mdi-social-public"></i>  <b>微博</b></h4>
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=2661425991&verifier=45ea3138&dpc=1"></iframe>
</div>
<div class="well">
    <h4><i class="mdi-communication-comment"></i>  <b>最新评论</b></h4>
<!-- 多说最新评论 start -->
	<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
<!-- 多说最新评论 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"dawndiy"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
</div>
